In [14]:
# chunk 1
import pandas as pd
from faker import Faker
import numpy as np
import os
import random

In [15]:
#chunk 2
file_path = "datos_credit_scoring.csv"
if os.path.exists(file_path):
    os.remove(file_path)


fake = Faker()
nombres = [fake.name() for _ in range(100000)]
ids_personas = {nombre: i for i, nombre in enumerate(nombres, 1)}

ocupaciones = [fake.job() for _ in range(500)]

nombre_ocupacion = {nombre: random.choice(ocupaciones) for nombre in nombres}

ingresos_ocupacion = {ocupacion: random.randint(3000, 20000) for ocupacion in ocupaciones}

meses = list(range(1, 13))  


data = []
for nombre in nombres:
    id_persona = ids_personas[nombre]
    ocupacion = nombre_ocupacion[nombre]
    ingresos = ingresos_ocupacion[ocupacion]
    tarjetas = random.choices([1, 2, 3], weights=[0.5, 0.3, 0.2], k=1)[0]
    limite_credito = ingresos * 3 * tarjetas
    for mes in meses:
        deuda = random.uniform(0.75, 1.15) * ingresos
        pago = random.uniform(0.99, 1.00) * deuda
        data.append({
            'Nombre': nombre,
            'ID Persona': id_persona,
            'Mes': mes,
            'Año': 2025,
            'Ocupación': ocupacion,
            'Ingresos': ingresos,
            'Tarjetas de Crédito': tarjetas,
            'Límite de Crédito': limite_credito,
            'Deuda Total del Mes': round(deuda, 2),
            'Porcentaje Consumido': round(deuda / limite_credito, 2),
            'Pago de la deuda': round(pago, 2)
        })


df = pd.DataFrame(data)

df.sort_values(by=['ID Persona', 'Mes'], inplace=True)

df.to_csv('datos_credit_scoring.csv', index=False)

print(df.head(50))

               Nombre  ID Persona  Mes   Año  \
24        Cody Robles           3    1  2025
25        Cody Robles           3    2  2025
26        Cody Robles           3    3  2025
27        Cody Robles           3    4  2025
28        Cody Robles           3    5  2025
29        Cody Robles           3    6  2025
30        Cody Robles           3    7  2025
31        Cody Robles           3    8  2025
32        Cody Robles           3    9  2025
33        Cody Robles           3   10  2025
34        Cody Robles           3   11  2025
35        Cody Robles           3   12  2025
36      Ronald Foster           4    1  2025
37      Ronald Foster           4    2  2025
38      Ronald Foster           4    3  2025
39      Ronald Foster           4    4  2025
40      Ronald Foster           4    5  2025
41      Ronald Foster           4    6  2025
42      Ronald Foster           4    7  2025
43      Ronald Foster           4    8  2025
44      Ronald Foster           4    9  2025
45      Ronald Foster           4   10  2025
46      Ronald Foster           4   11  2025
47      Ronald Foster           4   12  2025
48  Mrs. Jamie Turner           5    1  2025
49  Mrs. Jamie Turner           5    2  2025
50  Mrs. Jamie Turner           5    3  2025
51  Mrs. Jamie Turner           5    4  2025
52  Mrs. Jamie Turner           5    5  2025
53  Mrs. Jamie Turner           5    6  2025
54  Mrs. Jamie Turner           5    7  2025
55  Mrs. Jamie Turner           5    8  2025
56  Mrs. Jamie Turner           5    9  2025
57  Mrs. Jamie Turner           5   10  2025
58  Mrs. Jamie Turner           5   11  2025
59  Mrs. Jamie Turner           5   12  2025
60   Deborah Ferguson           6    1  2025
61   Deborah Ferguson           6    2  2025
62   Deborah Ferguson           6    3  2025
63   Deborah Ferguson           6    4  2025
64   Deborah Ferguson           6    5  2025
65   Deborah Ferguson           6    6  2025
66   Deborah Ferguson           6    7  2025
67   Deborah Ferguson           6    8  2025
68   Deborah Ferguson           6    9  2025
69   Deborah Ferguson           6   10  2025
70   Deborah Ferguson           6   11  2025
71   Deborah Ferguson           6   12  2025
72       Karen Becker           7    1  2025
73       Karen Becker           7    2  2025

                                Ocupación  Ingresos  Tarjetas de Crédito  \
24  Medical laboratory scientific officer      4632                    3
25  Medical laboratory scientific officer      4632                    3
26  Medical laboratory scientific officer      4632                    3
27  Medical laboratory scientific officer      4632                    3
28  Medical laboratory scientific officer      4632                    3
29  Medical laboratory scientific officer      4632                    3
30  Medical laboratory scientific officer      4632                    3
31  Medical laboratory scientific officer      4632                    3
32  Medical laboratory scientific officer      4632                    3
33  Medical laboratory scientific officer      4632                    3
34  Medical laboratory scientific officer      4632                    3
35  Medical laboratory scientific officer      4632                    3
36                Engineer, manufacturing     13423                    1
37                Engineer, manufacturing     13423                    1
38                Engineer, manufacturing     13423                    1
39                Engineer, manufacturing     13423                    1
40                Engineer, manufacturing     13423                    1
41                Engineer, manufacturing     13423                    1
42                Engineer, manufacturing     13423                    1
43                Engineer, manufacturing     13423                    1
44                Engineer, manufacturing     13423                    1
45                Engineer, manufacturing     13423                    1
46                Engineer, manufacturing     13423                    1
47                Engineer, manufacturing     13423                    1
48                                    Sub     15172                    1
49                                    Sub     15172                    1
50                                    Sub     15172                    1
51                                    Sub     15172                    1
52                                    Sub     15172                    1
53                                    Sub     15172                    1
54                                    Sub     15172                    1
55                                    Sub     15172                    1
56                                    Sub     15172                    1
57                                    Sub     15172                    1
58                                    Sub     15172                    1
59                                    Sub     15172                    1
60                          Hotel manager      3112                    1
61                          Hotel manager      3112                    1
62                          Hotel manager      3112                    1
63                          Hotel manager      3112                    1
64                          Hotel manager      3112                    1
65                          Hotel manager      3112                    1
66                          Hotel manager      3112                    1
67                          Hotel manager      3112                    1
68                          Hotel manager      3112                    1
69                          Hotel manager      3112                    1
70                          Hotel manager      3112                    1
71                          Hotel manager      3112                    1
72                    Landscape architect     18634                    2
73                    Landscape architect     18634                    2

    Límite de Crédito  Deuda Total del Mes  Porcentaje Consumido  \
24              41688              4368.48                  0.10
25              41688              4454.96                  0.11
26              41688              4006.73                  0.10
27              41688              4768.21                  0.11
28              41688              4779.87                  0.11
29              41688              4253.60                  0.10
30              41688              4373.46                  0.10
31              41688              3870.74                  0.09
32              41688              4993.52                  0.12
33              41688              4133.01                  0.10
34              41688              3932.75                  0.09
35              41688              4312.10                  0.10
36              40269             14579.45                  0.36
37              40269             10134.70                  0.25
38              40269             10818.24                  0.27
39              40269             10842.69                  0.27
40              40269             12739.50                  0.32
41              40269             11726.46                  0.29
42              40269             15302.79                  0.38
43              40269             12370.17                  0.31
44              40269             10816.71                  0.27
45              40269             14806.67                  0.37
46              40269             11876.76                  0.29
47              40269             13195.66                  0.33
48              45516             11896.17                  0.26
49              45516             16507.48                  0.36
50              45516             14765.65                  0.32
51              45516             12504.01                  0.27
52              45516             12570.37                  0.28
53              45516             17139.20                  0.38
54              45516             16220.57                  0.36
55              45516             13567.82                  0.30
56              45516             12835.48                  0.28
57              45516             15820.02                  0.35
58              45516             17444.56                  0.38
59              45516             17052.05                  0.37
60               9336              2976.85                  0.32
61               9336              2780.21                  0.30
62               9336              2817.91                  0.30
63               9336              3130.75                  0.34
64               9336              2923.23                  0.31
65               9336              3229.06                  0.35
66               9336              3305.05                  0.35
67               9336              2709.21                  0.29
68               9336              2455.48                  0.26
69               9336              2845.76                  0.30
70               9336              3506.66                  0.38
71               9336              3270.98                  0.35
72             111804             20869.14                  0.19
73             111804             17510.13                  0.16

    Pago de la deuda
24           4364.26
25           4447.23
26           3972.81
27           4759.08
28           4738.07
29           4236.66
30           4336.46
31           3857.48
32           4962.01
33           4122.31
34           3908.10
35           4295.27
36          14483.47
37          10040.51
38          10726.15
39          10770.91
40          12678.38
41          11655.36
42          15252.11
43          12335.44
44          10789.53
45          14701.71
46          11867.77
47          13140.62
48          11865.80
49          16409.30
50          14674.60
51          12466.18
52          12504.88
53          17050.93
54          16158.29
55          13533.00
56          12766.56
57          15801.30
58          17275.37
59          16927.42
60           2972.46
61           2766.17
62           2804.36
63           3120.20
64           2905.54
65           3218.74
66           3303.80
67           2705.60
68           2440.94
69           2835.92
70           3477.39
71           3257.49
72          20857.64
73          17432.62